// ~/.gem/ruby/3.4.1/gems/minima-2.5.2/_sass/minima/_base.scss manually edited to replace color functions with color.scale() and vice versa. --- IGNORE ---

@use "sass:color";

a {
    &:visited {
        color: color.scale($brand-color, $lightness: -15%);
    }
}

table {
    color: color.scale($text-color, $lightness: 18%);

    tr {
        &:nth-child(even) {
        background-color: color.scale($grey-color-light, $lightness: 6%);
        }
    }
    th {
        background-color: color.scale($grey-color-light, $lightness: 3%);
        border: 1px solid color.scale($grey-color-light, $lightness: -4%);
        border-bottom-color: color.scale($grey-color-light, $lightness: -12%);
    }
}

